.Kontakt{
    background-color: white;
    padding: 1vh;
}

.Kontakttitle{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background-color: white;
    text-align: center;  
    font-weight:bolder;
    font-size: larger; 
    color: black;
}

.Kontakt1{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background-color: white;
    text-align: center;  
    font-weight:300;
    color: black;
}

.Kontakt2{
    background-color: transparent;
    text-align: center;  
    font-weight:bolder;
    font-size: larger; 
    color: white;
    
}

.Kontakt3{
    background-color: transparent;
    text-align: center;  
    
    color: white;
    margin-top: 5px;
    
}


.Background{
    width: 100%;
    background-image: url("BL_total.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0px; 
    justify-content: center;
    align-items: center;
    padding: 30vh 0;
}
.Field{
    width: 400px;
    margin: auto;
    margin-top: 0vh;
    background-color: rgb(43, 43, 43);
    opacity: 0.95;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 1.6vh 1.6vw;
    overflow:hidden;
    box-shadow: 0 0 15px #000000;   
}


form{
    background-color: transparent;
    justify-content: center;
    display: flex;
    flex-direction: column;     
}



.formel{
    height: 40px;
    background-color: transparent;
    color:white; 
    margin: 1vh;
    border:solid rgb(19, 19, 19) 2px; 
    border-radius: 5px;  
    text-align: center; 
}


.formelNachricht{
    height: 140px;
    background-color: transparent;
    color:white; 
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border:solid rgb(19, 19, 19) 2px; 
    border-radius: 5px;  
    text-align: center; 
    min-width: 94%;
    resize:none;
    justify-content: space-around;
    padding: 1vh 1vw;
    
    
    
}
.formelNachricht:focus{
    outline: none;
    font-style:normal; 
    z-index: 2;
    box-shadow: 0 0 5px #e7bd32;
    
}
.formelNachricht:focus-visible{
    border:none; 
    
}



.formel:focus{
    outline: none;
    font-style:normal; 
    z-index: 2;
    box-shadow: 0 0 5px #e7bd32;
    
}
.formel:focus-visible{
    border:none; 
    
}

.formels{
    height: 40px;
    background-color: transparent;
    color:white; 
    margin: 1vh;
    border:solid rgb(255, 255, 255) 2px; 
    border-radius: 5px;  
    
    
}

.formels:active{
    border:solid white 2px; 
    font-style:normal; 
    z-index: 2;
    box-shadow: 0 0 10px #e7bd32;
}


@media screen and (max-width: 420px){
    .Background{
        
        background-image: none;
        background-size: 0;  
        padding-top: 14vh;
        padding-bottom: 2vh;
        width: 100%;
        height: auto;
        background-size: 0;
        justify-content: center;
        align-items: center;
        
    }
    .formelNachricht{
        height: 140px;
        background-color: transparent;
        color:white; 
        margin: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border:solid rgb(19, 19, 19) 2px; 
        border-radius: 5px;  
        text-align: center; 
        max-width: 94%;
        resize:none;
        justify-content: space-around;
        
        
    }
    .formel:focus-visible{
        border:none; 
        
    }
    .Field{
        width: 90vw; 
        margin: auto;
        margin-top: -10vh;
        background-color: rgb(43, 43, 43);
        opacity: 0.95;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        padding: 1.6vh 1.6vw;
        overflow:hidden;
        box-shadow: 0 0 15px #000000;
        
    }

}







@media screen and (min-width: 940px){
    .Kontakt{
        background-color: white;
        padding: 1vh;
    }
    .formel:focus-visible{
        border:none; 
        
    }
    .Kontakttitle{
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        background-color: white;
        text-align: center;  
        font-weight:bolder;
        font-size: larger; 
        color: black;
    }

    .Kontakt1{
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        background-color: white;
        text-align: center;  
        font-weight:300;
        color: black;
    }

    .Kontakt2{
        background-color: transparent;
        text-align: center;  
        font-weight:bolder;
        font-size: larger; 
        color: white;
    }


    .Background{
        width: 100%;
        background-image: url("BL_total.png");
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 0px; 
        justify-content: center;
        align-items: center;
        padding: 30vh 0;
        
    }
    .Field{
        width: 400px;
        margin: auto;
        margin-top: 0vh;
        background-color: rgb(43, 43, 43);
        opacity: 0.95;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        padding: 1.6vh 1.6vw;
        overflow:hidden;
        box-shadow: 0 0 15px #000000;   
    }
    
    .formelNachricht{
        height:140px;
        background-color: transparent;
        color:white; 
        margin: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border:solid rgb(19, 19, 19) 2px; 
        border-radius: 5px;  
        text-align: center; 
        max-width: 94%;
        resize:none;
        justify-content: space-around;
        
    }

    form{
        background-color: transparent;
        justify-content: center;
        display: flex;
        flex-direction: column;     
    }



}

   



